h1 {
    color: rgba(0, 0, 255, 0.473);
}
/* The above styling is for the header on the index.html file */

#chiliHeader {
    color: rgba(255, 166, 0, 0.893);
    text-align: center;
}

.center.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.chiliBody {
    background-color: bisque;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 115, 80);
    font-size: 22px;
}
/* Styling above for Chili Dog Mac & Cheese file */
.HamHeader {
    color: rgb(255, 234, 0);
    text-align: center;
}

.hamBody {
    background-color: rgba(255, 166, 0, 0.945);
}

.ham.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
/* Styling above for Ham, Potato and Broccoli file */
.pestoHeader {
    color: rgba(0, 128, 0, 0.938);
    text-align: center;
}

.pestoBody {
    background-color: beige;
}

.pesto.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.firstHeader {
    color: rgba(0, 128, 0, 0.938);
}

.secondHeader {
    color: rgba(0, 128, 0, 0.938);
}

.thirdHeader {
    color: rgba(0, 128, 0, 0.938);
}
/* Styling above is for Pesto file */